.clearfix{*zoom:1;}.clearfix:before,.clearfix:after{display:table;content:"";line-height:0;}
.clearfix:after{clear:both;}
.hide-text{font:0/0 a;color:transparent;text-shadow:none;background-color:transparent;border:0;}
.input-block-level{display:block;width:100%;min-height:30px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.xterm256-Black{color:#000000;}
.xterm256-BlackEbony{color:#1c1c1c;}
.xterm256-BlackFlat{color:#949494;}
.xterm256-BlackGrey{color:#000000;}
.xterm256-BlackJet{color:#444444;}
.xterm256-BlackLicorice{color:#3a3a3a;}
.xterm256-BlackMatte{color:#262626;}
.xterm256-BlackMidnight{color:#121212;}
.xterm256-BlackOnyx{color:#4e4e4e;}
.xterm256-BlackRaven{color:#303030;}
.xterm256-Blue{color:#000080;}
.xterm256-BlueAquamarine{color:#5fd7af;}
.xterm256-BlueAquamarineLight{color:#5fffd7;}
.xterm256-BlueBright{color:#0000ff;}
.xterm256-BlueBrilliant{color:#00afff;}
.xterm256-BlueBrilliantMedium{color:#00afd7;}
.xterm256-BlueCadet{color:#5faf87;}
.xterm256-BlueCadetLight{color:#5fafaf;}
.xterm256-BlueCornflower{color:#5f87ff;}
.xterm256-BlueCyanLight{color:#00ffff;}
.xterm256-BlueCyanMedium{color:#00ffd7;}
.xterm256-BlueDark{color:#000087;}
.xterm256-BlueDarkLight{color:#0000ff;}
.xterm256-BlueDeepSkyDark{color:#005f87;}
.xterm256-BlueDeepSkyMedium{color:#005faf;}
.xterm256-BlueDodger{color:#0087ff;}
.xterm256-BlueDodgerDark{color:#005fd7;}
.xterm256-BlueDodgerMedium{color:#005fff;}
.xterm256-BlueLight{color:#00d7ff;}
.xterm256-BlueMediumDark{color:#0000d7;}
.xterm256-BlueMostlyDark{color:#0000af;}
.xterm256-BlueNavy{color:#00005f;}
.xterm256-BluePaleTurqouise{color:#afffff;}
.xterm256-BluePeriwinkle{color:#afd7ff;}
.xterm256-BlueRoyal{color:#5f5fff;}
.xterm256-BlueSeaGreen{color:#00afaf;}
.xterm256-BlueSeaGreenMedium{color:#87d7af;}
.xterm256-BlueSilver{color:#005f5f;}
.xterm256-BlueSky{color:#5fafd7;}
.xterm256-BlueSkyDark{color:#0087af;}
.xterm256-BlueSkyLightSilver{color:#87afaf;}
.xterm256-BlueSkyLightSilverBright{color:#87afd7;}
.xterm256-BlueSkyMedium{color:#0087d7;}
.xterm256-BlueSkyPale{color:#87d7ff;}
.xterm256-BlueSkyPurple{color:#87afff;}
.xterm256-BlueSlate{color:#875fff;}
.xterm256-BlueSlateDark{color:#5f5fd7;}
.xterm256-BlueSlateDeep{color:#5f5faf;}
.xterm256-BlueSlateGrey{color:#87ffff;}
.xterm256-BlueSlateLight{color:#afffd7;}
.xterm256-BlueSteel{color:#5fafff;}
.xterm256-BlueSteelDark{color:#5f87d7;}
.xterm256-BlueSteelDeep{color:#5f87af;}
.xterm256-BlueSteelLight{color:#5fd7ff;}
.xterm256-BlueTurquoise{color:#008787;}
.xterm256-BlueTurquoiseMedium{color:#5fd7d7;}
.xterm256-Brown{color:#875f00;}
.xterm256-BrownBeige{color:#d7af5f;}
.xterm256-BrownChocolate{color:#5f0000;}
.xterm256-BrownCyan{color:#afd7d7;}
.xterm256-BrownGrey{color:#af87af;}
.xterm256-BrownPink{color:#875f5f;}
.xterm256-BrownRosy{color:#af8787;}
.xterm256-BrownSalmon{color:#af875f;}
.xterm256-BrownSeaGreen{color:#87af87;}
.xterm256-BrownSteelBlue{color:#afafd7;}
.xterm256-BrownTan{color:#d7af87;}
.xterm256-Cyan{color:#008080;}
.xterm256-CyanBright{color:#00ffff;}
.xterm256-CyanDark{color:#00af87;}
.xterm256-CyanLightGrey{color:#d7ffff;}
.xterm256-CyanTurqouise{color:#00d7d7;}
.xterm256-GreenAquamarine{color:#87ffd7;}
.xterm256-GreenAutumDark{color:#00875f;}
.xterm256-GreenBright{color:#00ff00;}
.xterm256-GreenChartreuse{color:#87d700;}
.xterm256-GreenChartreuseBright{color:#87ff00;}
.xterm256-GreenChartreuseDark{color:#5fd700;}
.xterm256-GreenChartreuseDeep{color:#5faf00;}
.xterm256-GreenChartreuseMedim{color:#5fff00;}
.xterm256-GreenForestBright{color:#00ff00;}
.xterm256-GreenForestCyan{color:#00d7af;}
.xterm256-GreenForestDark{color:#008700;}
.xterm256-GreenForestLight{color:#00d75f;}
.xterm256-GreenForestMedium{color:#00d700;}
.xterm256-GreenForestMediumDark{color:#00af00;}
.xterm256-GreenForestMostlyDark{color:#005f00;}
.xterm256-GreenForstBlue{color:#00d787;}
.xterm256-GreenHoneyDew{color:#d7ffd7;}
.xterm256-GreenJade{color:#00af5f;}
.xterm256-GreenLight{color:#87ff5f;}
.xterm256-GreenLightMedium{color:#87ff87;}
.xterm256-GreenLightSea{color:#d7ffaf;}
.xterm256-GreenNeonMatte{color:#afff87;}
.xterm256-GreenOlive{color:#5f8700;}
.xterm256-GreenOliveDark{color:#d7ff87;}
.xterm256-GreenOliveLight{color:#87d75f;}
.xterm256-GreenOliveMatte{color:#87af5f;}
.xterm256-GreenOliveMedium{color:#afd75f;}
.xterm256-GreenPale{color:#5fd75f;}
.xterm256-GreenPaleLight{color:#87ffaf;}
.xterm256-GreenPaleMedium{color:#87d787;}
.xterm256-GreenSea{color:#5fff5f;}
.xterm256-GreenSeaDark{color:#5fd787;}
.xterm256-GreenSeaDeep{color:#5f875f;}
.xterm256-GreenSeaDeepDark{color:#5faf5f;}
.xterm256-GreenSeaLight{color:#5fffaf;}
.xterm256-GreenSeaMedium{color:#5fff87;}
.xterm256-GreenSlate{color:#afffaf;}
.xterm256-GreenSpringBright{color:#00ff5f;}
.xterm256-GreenSpringMatte{color:#00ff87;}
.xterm256-GreenSpringMedium{color:#00ffaf;}
.xterm256-GreenTurquoisePale{color:#5f8787;}
.xterm256-GreenYellow{color:#afff00;}
.xterm256-GreenYellowLight{color:#afff5f;}
.xterm256-Grey{color:#808080;}
.xterm256-GreyAlmostBlack{color:#080808;}
.xterm256-GreyCharcoal{color:#c6c6c6;}
.xterm256-GreyDarkSlate{color:#9e9e9e;}
.xterm256-GreyDeep{color:#5f5f5f;}
.xterm256-GreyGreenSea{color:#afd7af;}
.xterm256-GreyHeather{color:#808080;}
.xterm256-GreyLight{color:#dadada;}
.xterm256-GreyLightAlt{color:#d0d0d0;}
.xterm256-GreyLightSlate{color:#8787af;}
.xterm256-GreyPink{color:#d7d7d7;}
.xterm256-GreyPurpleDeep{color:#5f5f87;}
.xterm256-GreySilver{color:#585858;}
.xterm256-GreySilverAlt{color:#626262;}
.xterm256-GreySilverLight{color:#6c6c6c;}
.xterm256-GreySilverLighter{color:#767676;}
.xterm256-GreySilverMatte{color:#8a8a8a;}
.xterm256-GreySlate{color:#bcbcbc;}
.xterm256-GreySlateAlt{color:#b2b2b2;}
.xterm256-GreySlateBlue{color:#d7d7ff;}
.xterm256-GreySlateDark{color:#5fffff;}
.xterm256-GreySlateMedium{color:#87d7d7;}
.xterm256-GreySlightlyDarkSlate{color:#a8a8a8;}
.xterm256-GreyVeryLight{color:#e4e4e4;}
.xterm256-GreyWheat{color:#878787;}
.xterm256-GreyWhite{color:#ffffff;}
.xterm256-Magenta{color:#800080;}
.xterm256-MagentaBright{color:#ff00ff;}
.xterm256-MagentaBrightLight{color:#ff00d7;}
.xterm256-MagentaBrightMedium{color:#ff00ff;}
.xterm256-MagentaDark{color:#5f005f;}
.xterm256-MagentaDarkPink{color:#870087;}
.xterm256-MagentaDarkPurple{color:#8700af;}
.xterm256-MagentaDarkViolet{color:#8700d7;}
.xterm256-MagentaDeepPink{color:#ff00af;}
.xterm256-MagentaHotPink{color:#af5f87;}
.xterm256-MagentaMediumAlt{color:#af5fff;}
.xterm256-MagentaOrchid{color:#ff5fff;}
.xterm256-MagentaOrchidBright{color:#d75fff;}
.xterm256-MagentaOrchidDark{color:#af5faf;}
.xterm256-MagentaOrchidDeep{color:#d75fd7;}
.xterm256-MagentaOrchidMedium{color:#af5fd7;}
.xterm256-MagentaPinkDeep{color:#87005f;}
.xterm256-MagentaPlum{color:#d787d7;}
.xterm256-MagentaPlumBright{color:#ffafff;}
.xterm256-MagentaPlumMedium{color:#d7afff;}
.xterm256-MagentaPurple{color:#5f0087;}
.xterm256-MagentaPurpleBlue{color:#8787d7;}
.xterm256-MagentaPurpleBright{color:#af87ff;}
.xterm256-MagentaPurpleDark{color:#5f00af;}
.xterm256-MagentaPurpleLavendar{color:#875fd7;}
.xterm256-MagentaPurpleLight{color:#5f00ff;}
.xterm256-MagentaPurpleMedium{color:#5f00d7;}
.xterm256-MagentaPurpleMediumMatte{color:#af87d7;}
.xterm256-MagentaPurpleOrchidDark{color:#ff87ff;}
.xterm256-MagentaPurpleOrchidLight{color:#ff87d7;}
.xterm256-MagentaPurplePlum{color:#875f87;}
.xterm256-MagentaPurplePlumMedium{color:#875faf;}
.xterm256-MagentaPurplePosh{color:#af00ff;}
.xterm256-MagentaPurpleSlate{color:#8700ff;}
.xterm256-MagentaPurpleSlateLight{color:#8787ff;}
.xterm256-MagentaRuby{color:#d700af;}
.xterm256-MagentaRubyBright{color:#d700d7;}
.xterm256-MagentaRubyLight{color:#d700ff;}
.xterm256-MagentaSteelBlue{color:#afafff;}
.xterm256-MagentaThistle{color:#d7afd7;}
.xterm256-MagentaThistleBright{color:#ffd7ff;}
.xterm256-MagentaViolet{color:#d787ff;}
.xterm256-MagentaVioletDark{color:#af00d7;}
.xterm256-MagentaVioletLight{color:#af00af;}
.xterm256-MagentaVioletMedium{color:#af0087;}
.xterm256-OrangeBlood{color:#af5f00;}
.xterm256-OrangeBloodLight{color:#d75f00;}
.xterm256-OrangeBright{color:#ffaf00;}
.xterm256-OrangeBrown{color:#5f5f00;}
.xterm256-OrangeDark{color:#ff8700;}
.xterm256-OrangeLightSalmon{color:#ffaf87;}
.xterm256-OrangeMedium{color:#d78700;}
.xterm256-OrangeTangerine{color:#ffaf5f;}
.xterm256-Red{color:#800000;}
.xterm256-RedBlood{color:#d70000;}
.xterm256-RedBloodBright{color:#ff0000;}
.xterm256-RedBloodMatte{color:#ff005f;}
.xterm256-RedBright{color:#ff0000;}
.xterm256-RedCherry{color:#d7005f;}
.xterm256-RedCoralLight{color:#ff8787;}
.xterm256-RedDark{color:#870000;}
.xterm256-RedDeepPink{color:#ff0087;}
.xterm256-RedHotPink{color:#ff5faf;}
.xterm256-RedHotPinkBright{color:#ff5fd7;}
.xterm256-RedIndian{color:#ff5f5f;}
.xterm256-RedIndianMagenta{color:#af5f5f;}
.xterm256-RedIndianMedium{color:#d75f5f;}
.xterm256-RedIndianPink{color:#ff5f87;}
.xterm256-RedMistyRose{color:#d7afaf;}
.xterm256-RedMistyRoseLight{color:#ffd7d7;}
.xterm256-RedOrange{color:#ff5f00;}
.xterm256-RedPinkDark{color:#d787af;}
.xterm256-RedPinkDeep{color:#af005f;}
.xterm256-RedPinkHot{color:#d75faf;}
.xterm256-RedPinkHotDark{color:#d75f87;}
.xterm256-RedPinkLight{color:#ffafaf;}
.xterm256-RedPinkMatte{color:#d78787;}
.xterm256-RedPinkMedium{color:#ffafd7;}
.xterm256-RedPinkWhite{color:#ffd7af;}
.xterm256-RedRuby{color:#d70087;}
.xterm256-RedSalmon{color:#d7875f;}
.xterm256-RedSalmonMatte{color:#ff875f;}
.xterm256-RedSector{color:#af0000;}
.xterm256-RedVioletPale{color:#ff87af;}
.xterm256-White{color:#c0c0c0;}
.xterm256-WhiteBright{color:#ffffff;}
.xterm256-WhiteSilver{color:#eeeeee;}
.xterm256-Yellow{color:#808000;}
.xterm256-YellowBright{color:#ffff00;}
.xterm256-YellowBrown{color:#878700;}
.xterm256-YellowCanary{color:#ffff00;}
.xterm256-YellowCanaryMedium{color:#ffff5f;}
.xterm256-YellowGold{color:#ffd700;}
.xterm256-YellowGoldBright{color:#ffd75f;}
.xterm256-YellowGolden{color:#d7af00;}
.xterm256-YellowGoldenBright{color:#d7ff00;}
.xterm256-YellowGoldenDark{color:#afaf00;}
.xterm256-YellowGoldenLight{color:#d7d787;}
.xterm256-YellowGoldenMedium{color:#d7ff5f;}
.xterm256-YellowGoldenRodDark{color:#af8700;}
.xterm256-YellowGoldenVeryLight{color:#d7d7af;}
.xterm256-YellowGoldMatte{color:#ffd787;}
.xterm256-YellowGreenLight{color:#afd700;}
.xterm256-YellowGreenSea{color:#afd787;}
.xterm256-YellowKhaki{color:#d7d75f;}
.xterm256-YellowKhakiDark{color:#afaf5f;}
.xterm256-YellowKhakiLight{color:#ffff87;}
.xterm256-YellowLight{color:#d7d700;}
.xterm256-YellowNavajoWhite{color:#afaf87;}
.xterm256-YellowNavajoWhiteLight{color:#afafaf;}
.xterm256-YellowWheat{color:#ffffaf;}
.xterm256-YellowWheatDark{color:#87875f;}
.xterm256-YellowWheatLight{color:#ffffd7;}
.xterm256-YellowWheatMedium{color:#87af00;}
.xterm256-Green{color:#008000;}
.xterm256-bg-Black{background-color:#000000;}
.xterm256-bg-BlackEbony{background-color:#1c1c1c;}
.xterm256-bg-BlackFlat{background-color:#949494;}
.xterm256-bg-BlackGrey{background-color:#000000;}
.xterm256-bg-BlackJet{background-color:#444444;}
.xterm256-bg-BlackLicorice{background-color:#3a3a3a;}
.xterm256-bg-BlackMatte{background-color:#262626;}
.xterm256-bg-BlackMidnight{background-color:#121212;}
.xterm256-bg-BlackOnyx{background-color:#4e4e4e;}
.xterm256-bg-BlackRaven{background-color:#303030;}
.xterm256-bg-Blue{background-color:#000080;}
.xterm256-bg-BlueAquamarine{background-color:#5fd7af;}
.xterm256-bg-BlueAquamarineLight{background-color:#5fffd7;}
.xterm256-bg-BlueBright{background-color:#0000ff;}
.xterm256-bg-BlueBrilliant{background-color:#00afff;}
.xterm256-bg-BlueBrilliantMedium{background-color:#00afd7;}
.xterm256-bg-BlueCadet{background-color:#5faf87;}
.xterm256-bg-BlueCadetLight{background-color:#5fafaf;}
.xterm256-bg-BlueCornflower{background-color:#5f87ff;}
.xterm256-bg-BlueCyanLight{background-color:#00ffff;}
.xterm256-bg-BlueCyanMedium{background-color:#00ffd7;}
.xterm256-bg-BlueDark{background-color:#000087;}
.xterm256-bg-BlueDarkLight{background-color:#0000ff;}
.xterm256-bg-BlueDeepSkyDark{background-color:#005f87;}
.xterm256-bg-BlueDeepSkyMedium{background-color:#005faf;}
.xterm256-bg-BlueDodger{background-color:#0087ff;}
.xterm256-bg-BlueDodgerDark{background-color:#005fd7;}
.xterm256-bg-BlueDodgerMedium{background-color:#005fff;}
.xterm256-bg-BlueLight{background-color:#00d7ff;}
.xterm256-bg-BlueMediumDark{background-color:#0000d7;}
.xterm256-bg-BlueMostlyDark{background-color:#0000af;}
.xterm256-bg-BlueNavy{background-color:#00005f;}
.xterm256-bg-BluePaleTurqouise{background-color:#afffff;}
.xterm256-bg-BluePeriwinkle{background-color:#afd7ff;}
.xterm256-bg-BlueRoyal{background-color:#5f5fff;}
.xterm256-bg-BlueSeaGreen{background-color:#00afaf;}
.xterm256-bg-BlueSeaGreenMedium{background-color:#87d7af;}
.xterm256-bg-BlueSilver{background-color:#005f5f;}
.xterm256-bg-BlueSky{background-color:#5fafd7;}
.xterm256-bg-BlueSkyDark{background-color:#0087af;}
.xterm256-bg-BlueSkyLightSilver{background-color:#87afaf;}
.xterm256-bg-BlueSkyLightSilverBright{background-color:#87afd7;}
.xterm256-bg-BlueSkyMedium{background-color:#0087d7;}
.xterm256-bg-BlueSkyPale{background-color:#87d7ff;}
.xterm256-bg-BlueSkyPurple{background-color:#87afff;}
.xterm256-bg-BlueSlate{background-color:#875fff;}
.xterm256-bg-BlueSlateDark{background-color:#5f5fd7;}
.xterm256-bg-BlueSlateDeep{background-color:#5f5faf;}
.xterm256-bg-BlueSlateGrey{background-color:#87ffff;}
.xterm256-bg-BlueSlateLight{background-color:#afffd7;}
.xterm256-bg-BlueSteel{background-color:#5fafff;}
.xterm256-bg-BlueSteelDark{background-color:#5f87d7;}
.xterm256-bg-BlueSteelDeep{background-color:#5f87af;}
.xterm256-bg-BlueSteelLight{background-color:#5fd7ff;}
.xterm256-bg-BlueTurquoise{background-color:#008787;}
.xterm256-bg-BlueTurquoiseMedium{background-color:#5fd7d7;}
.xterm256-bg-Brown{background-color:#875f00;}
.xterm256-bg-BrownBeige{background-color:#d7af5f;}
.xterm256-bg-BrownChocolate{background-color:#5f0000;}
.xterm256-bg-BrownCyan{background-color:#afd7d7;}
.xterm256-bg-BrownGrey{background-color:#af87af;}
.xterm256-bg-BrownPink{background-color:#875f5f;}
.xterm256-bg-BrownRosy{background-color:#af8787;}
.xterm256-bg-BrownSalmon{background-color:#af875f;}
.xterm256-bg-BrownSeaGreen{background-color:#87af87;}
.xterm256-bg-BrownSteelBlue{background-color:#afafd7;}
.xterm256-bg-BrownTan{background-color:#d7af87;}
.xterm256-bg-Cyan{background-color:#008080;}
.xterm256-bg-CyanBright{background-color:#00ffff;}
.xterm256-bg-CyanDark{background-color:#00af87;}
.xterm256-bg-CyanLightGrey{background-color:#d7ffff;}
.xterm256-bg-CyanTurqouise{background-color:#00d7d7;}
.xterm256-bg-GreenAquamarine{background-color:#87ffd7;}
.xterm256-bg-GreenAutumDark{background-color:#00875f;}
.xterm256-bg-GreenBright{background-color:#00ff00;}
.xterm256-bg-GreenChartreuse{background-color:#87d700;}
.xterm256-bg-GreenChartreuseBright{background-color:#87ff00;}
.xterm256-bg-GreenChartreuseDark{background-color:#5fd700;}
.xterm256-bg-GreenChartreuseDeep{background-color:#5faf00;}
.xterm256-bg-GreenChartreuseMedim{background-color:#5fff00;}
.xterm256-bg-GreenForestBright{background-color:#00ff00;}
.xterm256-bg-GreenForestCyan{background-color:#00d7af;}
.xterm256-bg-GreenForestDark{background-color:#008700;}
.xterm256-bg-GreenForestLight{background-color:#00d75f;}
.xterm256-bg-GreenForestMedium{background-color:#00d700;}
.xterm256-bg-GreenForestMediumDark{background-color:#00af00;}
.xterm256-bg-GreenForestMostlyDark{background-color:#005f00;}
.xterm256-bg-GreenForstBlue{background-color:#00d787;}
.xterm256-bg-GreenHoneyDew{background-color:#d7ffd7;}
.xterm256-bg-GreenJade{background-color:#00af5f;}
.xterm256-bg-GreenLight{background-color:#87ff5f;}
.xterm256-bg-GreenLightMedium{background-color:#87ff87;}
.xterm256-bg-GreenLightSea{background-color:#d7ffaf;}
.xterm256-bg-GreenNeonMatte{background-color:#afff87;}
.xterm256-bg-GreenOlive{background-color:#5f8700;}
.xterm256-bg-GreenOliveDark{background-color:#d7ff87;}
.xterm256-bg-GreenOliveLight{background-color:#87d75f;}
.xterm256-bg-GreenOliveMatte{background-color:#87af5f;}
.xterm256-bg-GreenOliveMedium{background-color:#afd75f;}
.xterm256-bg-GreenPale{background-color:#5fd75f;}
.xterm256-bg-GreenPaleLight{background-color:#87ffaf;}
.xterm256-bg-GreenPaleMedium{background-color:#87d787;}
.xterm256-bg-GreenSea{background-color:#5fff5f;}
.xterm256-bg-GreenSeaDark{background-color:#5fd787;}
.xterm256-bg-GreenSeaDeep{background-color:#5f875f;}
.xterm256-bg-GreenSeaDeepDark{background-color:#5faf5f;}
.xterm256-bg-GreenSeaLight{background-color:#5fffaf;}
.xterm256-bg-GreenSeaMedium{background-color:#5fff87;}
.xterm256-bg-GreenSlate{background-color:#afffaf;}
.xterm256-bg-GreenSpringBright{background-color:#00ff5f;}
.xterm256-bg-GreenSpringMatte{background-color:#00ff87;}
.xterm256-bg-GreenSpringMedium{background-color:#00ffaf;}
.xterm256-bg-GreenTurquoisePale{background-color:#5f8787;}
.xterm256-bg-GreenYellow{background-color:#afff00;}
.xterm256-bg-GreenYellowLight{background-color:#afff5f;}
.xterm256-bg-Grey{background-color:#808080;}
.xterm256-bg-GreyAlmostBlack{background-color:#080808;}
.xterm256-bg-GreyCharcoal{background-color:#c6c6c6;}
.xterm256-bg-GreyDarkSlate{background-color:#9e9e9e;}
.xterm256-bg-GreyDeep{background-color:#5f5f5f;}
.xterm256-bg-GreyGreenSea{background-color:#afd7af;}
.xterm256-bg-GreyHeather{background-color:#808080;}
.xterm256-bg-GreyLight{background-color:#dadada;}
.xterm256-bg-GreyLightAlt{background-color:#d0d0d0;}
.xterm256-bg-GreyLightSlate{background-color:#8787af;}
.xterm256-bg-GreyPink{background-color:#d7d7d7;}
.xterm256-bg-GreyPurpleDeep{background-color:#5f5f87;}
.xterm256-bg-GreySilver{background-color:#585858;}
.xterm256-bg-GreySilverAlt{background-color:#626262;}
.xterm256-bg-GreySilverLight{background-color:#6c6c6c;}
.xterm256-bg-GreySilverLighter{background-color:#767676;}
.xterm256-bg-GreySilverMatte{background-color:#8a8a8a;}
.xterm256-bg-GreySlate{background-color:#bcbcbc;}
.xterm256-bg-GreySlateAlt{background-color:#b2b2b2;}
.xterm256-bg-GreySlateBlue{background-color:#d7d7ff;}
.xterm256-bg-GreySlateDark{background-color:#5fffff;}
.xterm256-bg-GreySlateMedium{background-color:#87d7d7;}
.xterm256-bg-GreySlightlyDarkSlate{background-color:#a8a8a8;}
.xterm256-bg-GreyVeryLight{background-color:#e4e4e4;}
.xterm256-bg-GreyWheat{background-color:#878787;}
.xterm256-bg-GreyWhite{background-color:#ffffff;}
.xterm256-bg-Magenta{background-color:#800080;}
.xterm256-bg-MagentaBright{background-color:#ff00ff;}
.xterm256-bg-MagentaBrightLight{background-color:#ff00d7;}
.xterm256-bg-MagentaBrightMedium{background-color:#ff00ff;}
.xterm256-bg-MagentaDark{background-color:#5f005f;}
.xterm256-bg-MagentaDarkPink{background-color:#870087;}
.xterm256-bg-MagentaDarkPurple{background-color:#8700af;}
.xterm256-bg-MagentaDarkViolet{background-color:#8700d7;}
.xterm256-bg-MagentaDeepPink{background-color:#ff00af;}
.xterm256-bg-MagentaHotPink{background-color:#af5f87;}
.xterm256-bg-MagentaMediumAlt{background-color:#af5fff;}
.xterm256-bg-MagentaOrchid{background-color:#ff5fff;}
.xterm256-bg-MagentaOrchidBright{background-color:#d75fff;}
.xterm256-bg-MagentaOrchidDark{background-color:#af5faf;}
.xterm256-bg-MagentaOrchidDeep{background-color:#d75fd7;}
.xterm256-bg-MagentaOrchidMedium{background-color:#af5fd7;}
.xterm256-bg-MagentaPinkDeep{background-color:#87005f;}
.xterm256-bg-MagentaPlum{background-color:#d787d7;}
.xterm256-bg-MagentaPlumBright{background-color:#ffafff;}
.xterm256-bg-MagentaPlumMedium{background-color:#d7afff;}
.xterm256-bg-MagentaPurple{background-color:#5f0087;}
.xterm256-bg-MagentaPurpleBlue{background-color:#8787d7;}
.xterm256-bg-MagentaPurpleBright{background-color:#af87ff;}
.xterm256-bg-MagentaPurpleDark{background-color:#5f00af;}
.xterm256-bg-MagentaPurpleLavendar{background-color:#875fd7;}
.xterm256-bg-MagentaPurpleLight{background-color:#5f00ff;}
.xterm256-bg-MagentaPurpleMedium{background-color:#5f00d7;}
.xterm256-bg-MagentaPurpleMediumMatte{background-color:#af87d7;}
.xterm256-bg-MagentaPurpleOrchidDark{background-color:#ff87ff;}
.xterm256-bg-MagentaPurpleOrchidLight{background-color:#ff87d7;}
.xterm256-bg-MagentaPurplePlum{background-color:#875f87;}
.xterm256-bg-MagentaPurplePlumMedium{background-color:#875faf;}
.xterm256-bg-MagentaPurplePosh{background-color:#af00ff;}
.xterm256-bg-MagentaPurpleSlate{background-color:#8700ff;}
.xterm256-bg-MagentaPurpleSlateLight{background-color:#8787ff;}
.xterm256-bg-MagentaRuby{background-color:#d700af;}
.xterm256-bg-MagentaRubyBright{background-color:#d700d7;}
.xterm256-bg-MagentaRubyLight{background-color:#d700ff;}
.xterm256-bg-MagentaSteelBlue{background-color:#afafff;}
.xterm256-bg-MagentaThistle{background-color:#d7afd7;}
.xterm256-bg-MagentaThistleBright{background-color:#ffd7ff;}
.xterm256-bg-MagentaViolet{background-color:#d787ff;}
.xterm256-bg-MagentaVioletDark{background-color:#af00d7;}
.xterm256-bg-MagentaVioletLight{background-color:#af00af;}
.xterm256-bg-MagentaVioletMedium{background-color:#af0087;}
.xterm256-bg-OrangeBlood{background-color:#af5f00;}
.xterm256-bg-OrangeBloodLight{background-color:#d75f00;}
.xterm256-bg-OrangeBright{background-color:#ffaf00;}
.xterm256-bg-OrangeBrown{background-color:#5f5f00;}
.xterm256-bg-OrangeDark{background-color:#ff8700;}
.xterm256-bg-OrangeLightSalmon{background-color:#ffaf87;}
.xterm256-bg-OrangeMedium{background-color:#d78700;}
.xterm256-bg-OrangeTangerine{background-color:#ffaf5f;}
.xterm256-bg-Red{background-color:#800000;}
.xterm256-bg-RedBlood{background-color:#d70000;}
.xterm256-bg-RedBloodBright{background-color:#ff0000;}
.xterm256-bg-RedBloodMatte{background-color:#ff005f;}
.xterm256-bg-RedBright{background-color:#ff0000;}
.xterm256-bg-RedCherry{background-color:#d7005f;}
.xterm256-bg-RedCoralLight{background-color:#ff8787;}
.xterm256-bg-RedDark{background-color:#870000;}
.xterm256-bg-RedDeepPink{background-color:#ff0087;}
.xterm256-bg-RedHotPink{background-color:#ff5faf;}
.xterm256-bg-RedHotPinkBright{background-color:#ff5fd7;}
.xterm256-bg-RedIndian{background-color:#ff5f5f;}
.xterm256-bg-RedIndianMagenta{background-color:#af5f5f;}
.xterm256-bg-RedIndianMedium{background-color:#d75f5f;}
.xterm256-bg-RedIndianPink{background-color:#ff5f87;}
.xterm256-bg-RedMistyRose{background-color:#d7afaf;}
.xterm256-bg-RedMistyRoseLight{background-color:#ffd7d7;}
.xterm256-bg-RedOrange{background-color:#ff5f00;}
.xterm256-bg-RedPinkDark{background-color:#d787af;}
.xterm256-bg-RedPinkDeep{background-color:#af005f;}
.xterm256-bg-RedPinkHot{background-color:#d75faf;}
.xterm256-bg-RedPinkHotDark{background-color:#d75f87;}
.xterm256-bg-RedPinkLight{background-color:#ffafaf;}
.xterm256-bg-RedPinkMatte{background-color:#d78787;}
.xterm256-bg-RedPinkMedium{background-color:#ffafd7;}
.xterm256-bg-RedPinkWhite{background-color:#ffd7af;}
.xterm256-bg-RedRuby{background-color:#d70087;}
.xterm256-bg-RedSalmon{background-color:#d7875f;}
.xterm256-bg-RedSalmonMatte{background-color:#ff875f;}
.xterm256-bg-RedSector{background-color:#af0000;}
.xterm256-bg-RedVioletPale{background-color:#ff87af;}
.xterm256-bg-White{background-color:#c0c0c0;}
.xterm256-bg-WhiteBright{background-color:#ffffff;}
.xterm256-bg-WhiteSilver{background-color:#eeeeee;}
.xterm256-bg-Yellow{background-color:#808000;}
.xterm256-bg-YellowBright{background-color:#ffff00;}
.xterm256-bg-YellowBrown{background-color:#878700;}
.xterm256-bg-YellowCanary{background-color:#ffff00;}
.xterm256-bg-YellowCanaryMedium{background-color:#ffff5f;}
.xterm256-bg-YellowGold{background-color:#ffd700;}
.xterm256-bg-YellowGoldBright{background-color:#ffd75f;}
.xterm256-bg-YellowGolden{background-color:#d7af00;}
.xterm256-bg-YellowGoldenBright{background-color:#d7ff00;}
.xterm256-bg-YellowGoldenDark{background-color:#afaf00;}
.xterm256-bg-YellowGoldenLight{background-color:#d7d787;}
.xterm256-bg-YellowGoldenMedium{background-color:#d7ff5f;}
.xterm256-bg-YellowGoldenRodDark{background-color:#af8700;}
.xterm256-bg-YellowGoldenVeryLight{background-color:#d7d7af;}
.xterm256-bg-YellowGoldMatte{background-color:#ffd787;}
.xterm256-bg-YellowGreenLight{background-color:#afd700;}
.xterm256-bg-YellowGreenSea{background-color:#afd787;}
.xterm256-bg-YellowKhaki{background-color:#d7d75f;}
.xterm256-bg-YellowKhakiDark{background-color:#afaf5f;}
.xterm256-bg-YellowKhakiLight{background-color:#ffff87;}
.xterm256-bg-YellowLight{background-color:#d7d700;}
.xterm256-bg-YellowNavajoWhite{background-color:#afaf87;}
.xterm256-bg-YellowNavajoWhiteLight{background-color:#afafaf;}
.xterm256-bg-YellowWheat{background-color:#ffffaf;}
.xterm256-bg-YellowWheatDark{background-color:#87875f;}
.xterm256-bg-YellowWheatLight{background-color:#ffffd7;}
.xterm256-bg-YellowWheatMedium{background-color:#87af00;}
.xterm256-bg-Green{background-color:#008000;}
.ansi-bgred{background-color:#900;}
.ansi-bgblue{background-color:#009;}
.ansi-bggreen{background-color:#090;}
.ansi-bgcyan{background-color:#099;}
.ansi-bgyellow{background-color:#990;}
.ansi-bgmagenta{background-color:#909;}
.ansi-bgwhite{background-color:#FFF;}
.ansi-underline{text-decoration:underline;}
.ansi-bggreen{background-color:#090;}
BODY{height:100%;overflow:hidden;background-color:#111;background:url('/img/fuller_street1_sq.jpg');-webkit-background-size:100% 300%;-moz-background-size:100% 300%;-o-background-size:100% 300%;background-size:100% 300%;}
UL.ui-autocomplete{width:150px !important;background-color:rgba(0, 0, 0, 0.5) !important;background-image:none !important;margin-bottom:75px;}
UL.ui-menu LI.ui-menu-item{line-height:20px;padding:2px;}UL.ui-menu LI.ui-menu-item A{color:white;text-shadow:1px 1px 0 #000;}
BODY.ide-window DIV.nav-tree{width:20%;height:100%;float:left;}
BODY.ide-window DIV.tab-bar{width:78%;float:left;height:150px;}
BODY.ide-window DIV.edit-panel{width:500px;}
.editor{width:100%;height:100%;}.editor .menu{height:40px;background-color:#666;width:100%;}.editor .menu .btn{margin:5px 10px 5px 0;}.editor .menu .btn:first-child{margin-left:10px;}
.editor .verb-editor{position:absolute;top:40px;right:0;bottom:0;left:0;}
.editor textarea{background-color:#222;border-radius:0;width:100%;height:100%;color:#EEE;margin:0;font-family:'Source Code Pro';font-size:13px;line-height:15px;padding:8px;border:1px solid #333;}
#disconnect-overlay{position:fixed;top:0;right:0;bottom:0;left:0;z-index:10000;background-color:#000;opacity:0.8;filter:alpha(opacity=80);}
.disconnect-buttons{opacity:1;filter:alpha(opacity=100);background-color:#222;width:300px;margin:0 auto;padding-top:10px;border:1px dotted #333;text-align:center;position:absolute;z-index:10001;top:150px;right:150px;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}.disconnect-buttons .btn{clear:both;display:inline-block;margin:10px;}
#browser-client{position:relative;height:100%;}#browser-client #lineBuffer,#browser-client #channel{padding:10px 10px 3px;border:0;background-color:black;color:#AAA;height:100%;font-family:'Source Code Pro';white-space:pre-wrap;overflow-y:scroll;overflow-x:hidden;}#browser-client #lineBuffer .filterable,#browser-client #channel .filterable{border:1px dashed #222;cursor:pointer;}#browser-client #lineBuffer .filterable:hover,#browser-client #channel .filterable:hover{border:1px solid white;}
#browser-client #lineBuffer.standardText,#browser-client #channel.standardText{font-family:'Source Code Pro';font-size:13px;line-height:15px;}
#browser-client #lineBuffer.courierText,#browser-client #channel.courierText{font-family:"Courier New";font-size:13px;line-height:15px;}#browser-client #lineBuffer.courierText .ansi-brcyan,#browser-client #channel.courierText .ansi-brcyan,#browser-client #lineBuffer.courierText .ansi-brgreen,#browser-client #channel.courierText .ansi-brgreen,#browser-client #lineBuffer.courierText .ansi-brred,#browser-client #channel.courierText .ansi-brred,#browser-client #lineBuffer.courierText .ansi-bryellow,#browser-client #channel.courierText .ansi-bryellow,#browser-client #lineBuffer.courierText .ansi-brblue,#browser-client #channel.courierText .ansi-brblue,#browser-client #lineBuffer.courierText .ansi-brmagenta,#browser-client #channel.courierText .ansi-brmagenta,#browser-client #lineBuffer.courierText .ansi-brred,#browser-client #channel.courierText .ansi-brred,#browser-client #lineBuffer.courierText .ansi-red,#browser-client #channel.courierText .ansi-red,#browser-client #lineBuffer.courierText .ansi-cyan,#browser-client #channel.courierText .ansi-cyan,#browser-client #lineBuffer.courierText .ansi-blue,#browser-client #channel.courierText .ansi-blue,#browser-client #lineBuffer.courierText .ansi-green,#browser-client #channel.courierText .ansi-green,#browser-client #lineBuffer.courierText .ansi-magenta,#browser-client #channel.courierText .ansi-magenta,#browser-client #lineBuffer.courierText .ansi-yellow,#browser-client #channel.courierText .ansi-yellow,#browser-client #lineBuffer.courierText .ansi-bright,#browser-client #channel.courierText .ansi-bright,#browser-client #lineBuffer.courierText .ansi-bgred,#browser-client #channel.courierText .ansi-bgred,#browser-client #lineBuffer.courierText .ansi-bggreen,#browser-client #channel.courierText .ansi-bggreen,#browser-client #lineBuffer.courierText .ansi-bgyellow,#browser-client #channel.courierText .ansi-bgyellow,#browser-client #lineBuffer.courierText .ansi-bgblue,#browser-client #channel.courierText .ansi-bgblue,#browser-client #lineBuffer.courierText .ansi-bgcyan,#browser-client #channel.courierText .ansi-bgcyan,#browser-client #lineBuffer.courierText .ansi-bgmagenta,#browser-client #channel.courierText .ansi-bgmagenta,#browser-client #lineBuffer.courierText .ansi-bgwhite,#browser-client #channel.courierText .ansi-bgwhite{font-family:"Courier New";}
#browser-client #lineBuffer.lucidaText,#browser-client #channel.lucidaText{font-family:"Lucida Console";font-size:13px;line-height:15px;}#browser-client #lineBuffer.lucidaText .ansi-brcyan,#browser-client #channel.lucidaText .ansi-brcyan,#browser-client #lineBuffer.lucidaText .ansi-brgreen,#browser-client #channel.lucidaText .ansi-brgreen,#browser-client #lineBuffer.lucidaText .ansi-brred,#browser-client #channel.lucidaText .ansi-brred,#browser-client #lineBuffer.lucidaText .ansi-bryellow,#browser-client #channel.lucidaText .ansi-bryellow,#browser-client #lineBuffer.lucidaText .ansi-brblue,#browser-client #channel.lucidaText .ansi-brblue,#browser-client #lineBuffer.lucidaText .ansi-brmagenta,#browser-client #channel.lucidaText .ansi-brmagenta,#browser-client #lineBuffer.lucidaText .ansi-brred,#browser-client #channel.lucidaText .ansi-brred,#browser-client #lineBuffer.lucidaText .ansi-red,#browser-client #channel.lucidaText .ansi-red,#browser-client #lineBuffer.lucidaText .ansi-cyan,#browser-client #channel.lucidaText .ansi-cyan,#browser-client #lineBuffer.lucidaText .ansi-blue,#browser-client #channel.lucidaText .ansi-blue,#browser-client #lineBuffer.lucidaText .ansi-green,#browser-client #channel.lucidaText .ansi-green,#browser-client #lineBuffer.lucidaText .ansi-magenta,#browser-client #channel.lucidaText .ansi-magenta,#browser-client #lineBuffer.lucidaText .ansi-yellow,#browser-client #channel.lucidaText .ansi-yellow,#browser-client #lineBuffer.lucidaText .ansi-bright,#browser-client #channel.lucidaText .ansi-bright,#browser-client #lineBuffer.lucidaText .ansi-bgred,#browser-client #channel.lucidaText .ansi-bgred,#browser-client #lineBuffer.lucidaText .ansi-bggreen,#browser-client #channel.lucidaText .ansi-bggreen,#browser-client #lineBuffer.lucidaText .ansi-bgyellow,#browser-client #channel.lucidaText .ansi-bgyellow,#browser-client #lineBuffer.lucidaText .ansi-bgblue,#browser-client #channel.lucidaText .ansi-bgblue,#browser-client #lineBuffer.lucidaText .ansi-bgcyan,#browser-client #channel.lucidaText .ansi-bgcyan,#browser-client #lineBuffer.lucidaText .ansi-bgmagenta,#browser-client #channel.lucidaText .ansi-bgmagenta,#browser-client #lineBuffer.lucidaText .ansi-bgwhite,#browser-client #channel.lucidaText .ansi-bgwhite{font-family:"Lucida Console";}
#browser-client #lineBuffer.scroll-disabled,#browser-client #channel.scroll-disabled{border:2px dashed red;}
#browser-client #lineBuffer.select-disabled,#browser-client #channel.select-disabled{-moz-user-select:none;-webkit-user-select:none;}
#browser-client #inputBuffer{height:50px;line-height:16px;width:100%;background-color:#333;color:#EEE;font-weight:normal;font-size:14px;position:fixed;left:-2px;bottom:2px;margin-bottom:0;padding-left:5px;}#browser-client #inputBuffer:focus{box-shadow:none;}
#browser-client #status{height:20px;color:#EEE;font-size:smaller;background-color:RGBA(0, 0, 0, 0.5);text-shadow:1px 1px 1px RGBA(0, 0, 0, 0.5);width:auto;position:fixed;top:0;width:100%;padding:3px 6px;float:left;}
.mini-controls{background-color:RGBA(0, 0, 0, 0);border:0;-webkit-border-bottom-right-radius:4px;-moz-border-radius-bottomright:4px;border-bottom-right-radius:4px;-webkit-border-bottom-left-radius:4px;-moz-border-radius-bottomleft:4px;border-bottom-left-radius:4px;position:fixed;top:0%;z-index:1000;right:50px;width:345px;height:26px;}.mini-controls button,.mini-controls A.btn{margin-top:2px;font-family:'Source Code Pro';font-weight:bold;opacity:0.8;}.mini-controls button:hover,.mini-controls A.btn:hover{opacity:1.0;}
.mini-controls ul.dropdown-menu{background-color:#0044CC;}.mini-controls ul.dropdown-menu li{background-color:#0044CC;padding:3px;margin:0;color:#EEE;}.mini-controls ul.dropdown-menu li A{font-family:'Source Code Pro';color:#EEE;font-size:11px;font-weight:bold;padding:0;padding-left:3px;}.mini-controls ul.dropdown-menu li A:hover{background-color:#002266;}
.moo-login-page,.client-options-page{margin-top:50px;}.moo-login-page .version,.client-options-page .version{position:absolute;width:auto;height:20px;right:20px;bottom:20px;margin-left:50px;text-shadow:1px 1px 0 #000;background-color:RGBA(0, 0, 0, 0.5);border:2px solid black;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;padding:15px 20px;white-space:nowrap;font-family:'Source Code Pro';color:#c67605;}
.moo-login-page .connection-stats,.client-options-page .connection-stats{display:inline-block;position:absolute;left:20px;bottom:10px;background-color:RGBA(0, 0, 0, 0.5);border:2px solid black;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;padding:15px 20px;white-space:nowrap;font-family:'Source Code Pro';color:#c67605;max-height:60%;overflow-x:scroll;overflow-y:visible;}.moo-login-page .connection-stats TABLE TR.table-header,.client-options-page .connection-stats TABLE TR.table-header{font-weight:bold;}
.moo-login-page .connection-stats TABLE TD.count-column,.client-options-page .connection-stats TABLE TD.count-column{padding:5px;}
.moo-login-page H1,.client-options-page H1{margin-left:50px;text-shadow:1px 1px 0 #000;background-color:RGBA(0, 0, 0, 0.5);border:2px solid black;border-radius:8px;-webkit-border-radius:8px;-moz-border-radius:8px;padding:15px 20px;width:345px;}
.moo-login-page .tabbed-panel,.client-options-page .tabbed-panel{width:350px;margin:20px auto;background-color:RGBA(0, 0, 0, 0.5);border:2px solid black;-webkit-border-radius:8px;-moz-border-radius:8px;border-radius:8px;}.moo-login-page .tabbed-panel .tab-panel,.client-options-page .tabbed-panel .tab-panel{overflow:overlay;padding:0 20px 20px 20px;}.moo-login-page .tabbed-panel .tab-panel.hidden-panel,.client-options-page .tabbed-panel .tab-panel.hidden-panel{display:none;}
.moo-login-page .tabbed-panel .tab-panel .relative-group,.client-options-page .tabbed-panel .tab-panel .relative-group{display:inline-block;width:100%;clear:both;margin-top:5px;}.moo-login-page .tabbed-panel .tab-panel .relative-group .btn-primary,.client-options-page .tabbed-panel .tab-panel .relative-group .btn-primary,.moo-login-page .tabbed-panel .tab-panel .relative-group .btn-success,.client-options-page .tabbed-panel .tab-panel .relative-group .btn-success{margin-left:10px;}
.moo-login-page .option-group,.client-options-page .option-group{padding-left:20px;float:left;height:250px;width:45%;}.moo-login-page .option-group.connect-as-group,.client-options-page .option-group.connect-as-group{padding-left:40px;padding-top:75px;}.moo-login-page .option-group.connect-as-group H2,.client-options-page .option-group.connect-as-group H2{text-shadow:1px 1px 0 #000;}
.moo-login-page .option-group .btn-xlarge,.client-options-page .option-group .btn-xlarge{padding:11px 14px;font-size:24px;line-height:normal;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.moo-login-page .option-group .moo-login-box,.client-options-page .option-group .moo-login-box{margin-left:40px;width:220px;}.moo-login-page .option-group .moo-login-box label,.client-options-page .option-group .moo-login-box label{text-shadow:1px 1px 0 #000;}
.moo-login-page .option-group .moo-login-box #connect_as,.client-options-page .option-group .moo-login-box #connect_as{cursor:pointer;}
.moo-login-page .option-group .moo-login-box .client-options,.client-options-page .option-group .moo-login-box .client-options{color:black;width:50%;}
.moo-login-page .option-group .moo-login-box .relative-group,.client-options-page .option-group .moo-login-box .relative-group{position:relative;}.moo-login-page .option-group .moo-login-box .relative-group #secure-toggle,.client-options-page .option-group .moo-login-box .relative-group #secure-toggle,.moo-login-page .option-group .moo-login-box .relative-group .glyph-unlocked,.client-options-page .option-group .moo-login-box .relative-group .glyph-unlocked,.moo-login-page .option-group .moo-login-box .relative-group .glyph-locked,.client-options-page .option-group .moo-login-box .relative-group .glyph-locked{position:absolute;right:-40px;top:1px;left:auto;cursor:pointer;}
.moo-login-page .option-group .moo-login-box DIV#user-picker,.client-options-page .option-group .moo-login-box DIV#user-picker{margin-bottom:10px;}.moo-login-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu,.client-options-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu{background-color:#171717;border:1px solid #000;padding:0;-webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);-moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);box-shadow:5px 5px 5px rgba(0, 0, 0, 0.5);}.moo-login-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu .divider,.client-options-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu .divider{background-color:#000;border-bottom:1px solid #666;margin:0;padding:0;}
.moo-login-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu LI,.client-options-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu LI{margin-right:0;padding:4px;color:#08c;cursor:pointer;}.moo-login-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu LI:hover,.client-options-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu LI:hover,.moo-login-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu LI:focus,.client-options-page .option-group .moo-login-box DIV#user-picker UL.dropdown-menu LI:focus{color:#009999;background-color:#020202;background-image:-moz-linear-gradient(top, #000000, #040404);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#040404));background-image:-webkit-linear-gradient(top, #000000, #040404);background-image:-o-linear-gradient(top, #000000, #040404);background-image:linear-gradient(to bottom, #000000, #040404);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff000000', endColorstr='#ff040404', GradientType=0);}
.moo-login-page .centered,.client-options-page .centered{margin:0 auto;text-align:center;margin-top:80px;margin-bottom:20px;}
.moo-login-page .left-seam,.client-options-page .left-seam{border-left:2px dashed #CCC;}
.client-options-page .option-group{height:348px;}
.client-options-page .well{background-color:RGBA(0, 0, 0, 0.6);border:1px solid black;color:white;overflow:scroll;height:90%;}.client-options-page .well .option-row{padding:5px;font-size:14px;white-space:no-wrap;min-height:30px;clear:both;}.client-options-page .well .option-row SPAN.option-label{font-weight:bolder;width:190px;display:inline-block;}
.client-options-page .well .option-row DIV.option-choices{display:inline;}
.client-options-page .well .option-row btn{margin:0 5px;float:right;}
.client-options-page .well .option-row SELECT{width:100%;}
.client-options-page .well .option-row .space-down{height:80px;}
.client-options-page .divider{clear:both;}
::-webkit-scrollbar-thumb{opacity:0.001;filter:alpha(opacity=0.1);color:#ffffff;text-shadow:0 -1px 0 rgba(0, 0, 0, 0.25);background-color:#006dcc;background-image:-moz-linear-gradient(top, #0088cc, #0044cc);background-image:-webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0044cc));background-image:-webkit-linear-gradient(top, #0088cc, #0044cc);background-image:-o-linear-gradient(top, #0088cc, #0044cc);background-image:linear-gradient(to bottom, #0088cc, #0044cc);background-repeat:repeat-x;filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff0088cc', endColorstr='#ff0044cc', GradientType=0);border-color:#0044cc #0044cc #002b80;border-color:rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);*background-color:#0044cc;filter:progid:DXImageTransform.Microsoft.gradient(enabled = false);}::-webkit-scrollbar-thumb:hover,::-webkit-scrollbar-thumb:active,::-webkit-scrollbar-thumb.active,::-webkit-scrollbar-thumb.disabled,::-webkit-scrollbar-thumb[disabled]{color:#ffffff;background-color:#0044cc;*background-color:#003cb3;}
::-webkit-scrollbar-thumb:active,::-webkit-scrollbar-thumb.active{background-color:#003399 \9;}
