<% layout('./shells/master') -%>
<div class="client-options-page">
  <h1>Client Options</h1>
  <div class="option-group centered">
    <a class="btn btn-xlarge btn-primary" href="/">&larr; Back to Connect</a>
  </div>
  <div class="option-group left-seam">
    <div class="well">
			<div class="option-row" id="outfont-option">
				<span class="option-label">Output Font</span>
				<select name="editor-theme-choice">
					<option value="standard" style="font-family: 'Source Code Pro'" selected="selected">Source Code Pro</option>
				</select>
			</div>
    </div>
  </div>
</div>
<script src="/js/client-options.js"></script>