<% layout('./shells/master') -%>
<div id="browser-client">
  <div id="lineBuffer" class="standardText"></div>
  <textarea id="inputBuffer" rows="4" cols="50"></textarea>
  <div id="status"></div>
</div>
<div id="disconnect-overlay" class="hide"></div>
<div id="scroll-overlay" class="hide"></div>
<div class="container disconnect-buttons hide">
  <button id="button-save" class="btn btn-large btn-primary">Save Session as HTML Log</button>
  <button id="button-reconnect" class="btn btn-large btn-primary">Reconnect Now</button>
  <form id="save-form" action="/save/" method="POST" target="download-frame">
    <input type="hidden" name="buffer" value="">
  </form>
</div>
<iframe style="display: none" name="download-frame" id="download-frame"></iframe>
<div class="mini-controls">
	<button id="button-auto-scroll" class="btn btn-primary btn-mini" href="#autoscroll" title="pause/unpause automatic scrolling">PAUSE SCROLL</button>
	<button id="button-save-mini" class="btn btn-primary btn-mini" href="#savelog" title="save session as an HTML log file">LOG</button>
	<button id="button-clear-buffer" class="btn btn-primary btn-mini" href="clearbuffer" title="clear the output buffer.">CLEAR BUFFER</button>
</div>
<script src="/js/client-options.js"></script>
<script language="JavaScript">
	clientOptions['deviceType'] = '<%=req.device%>';
</script>
<script src="/js/player-client.js"></script>
